.header {
  display: flex;
  height: 70px;
  width: 100%;
  justify-content: space-between;

  background-color: #0A1744;
}

.headerBtn {
  display: flex;
  height: 34px;
  width: 100px;
  margin-top: 22px;
  margin-right: 30px;
  border-radius: 25px;
} 

.Title-header h2 { 
  margin-top: 20px;
  margin-left: 30px;
  height: 50%;

  font-size: 27px;
  font-weight: 400;
  opacity: 1;
  color: #ffffff;
  letter-spacing: 0px;
  
}



.Title-header span {
  font: normal normal bold 28px/29px Rubik;
}

@media screen and (max-width: 450px) {

  .Title-header h2 {
    margin-top: 18px;
    margin-left: 18px;
  }

  .headerBtn {
    width: 80px;
    height: 30px;
    margin-right: 14px;
    margin-top: 20px;
  }
}