.headerTop {
  display: flex;
  align-items: center;
  padding: 1% 0% 1% 0%;
  background-color: #0A1744;
}

.headerLogo {
  width: 75%;
}

.headerBtn {
  display: flex;
}

.headerLink {
  text-decoration: none;
}
