.containerAbout{
  max-width: 1920px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  color: var(--collor-white);
}
.headerAbout{
  display: flex;
  background-color: var(--collor-dark);
  justify-content: space-between;
  padding: 0.5% 2% 0.5% 2% ;
}
.headerImg{
  display: flex;
}
.headerBtn{
  display: flex;
  width: 40%;
  justify-content: end;
}
.btnAbout{
  background-color: var(--collor-light);
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}
.btnLogin{
  background-color:var(--collor-card-about);
  color: var(--collor-white);
  width: 25%;
  margin-left: 2%;
  justify-content: center;
  align-items: center;

}
.btnImgAbout{
  display: flex;
  margin-right: 10% ;
}
.btnImgLogin{
  margin-right: 10%;
}
.about{
  display: flex;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 3%;
}
.aboutProject{
  width: 50%;
  line-height: 200%;
}
.aboutProjectTitle{
  font-size: larger;
}
.aboutIlustration{
  width: 40%;
  display: flex;
  align-items: center;
  padding-top: 3%;
}
.IlustrationImage{
  width: 100%;
}
.aboutUs{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3%;
}
.aboutTitle{
  width: 82%;
  margin-bottom: 2%;
}
.aboutUsBox{
  display: flex;
  justify-content: center;
  align-items: center;
}
.aboutBox{
  max-width: 15%;
  display: flex;
  font-size: small;
  flex-direction: column;
  border: 1px solid #FFFFFF24;
  border-radius: 5px;
  margin: 1%;
  justify-content: center;
  align-items: center;
  padding: 2%;
}
.aboutBoxImage{
  display: flex;
  justify-content: center;
} 
.aboutImage{
  display: flex;
  width: 65%;
  border-radius: 50%;
}
.aboutName{
  color: var(--collor-light);
}
.aboutBoxIcon{
  display: flex;
  width: 100%;
  justify-content: center;
}
.iconImage{
  display: flex;
  margin: 4%;
}