.containerAbout{
  max-width: 1920px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  color: var(--collor-white);
}
.headerAbout{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.about{
  display: flex;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2%;
  align-items: center;
  padding-bottom: 3%;
}
.aboutProject{
  width: 50%;
  line-height: 200%;
}
.aboutProjectTitle{
  font-size: larger;
}
.projectText{
  text-align: justify;
  margin-top: 10%;
}
.aboutIlustration{
  width: 40%;
  display: flex;
  align-items: center;
  padding-top: 3%;
}
.IlustrationImage{
  width: 100%;
}
.aboutUs{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3%;
}
.aboutTitle{
  width: 82%;
  margin-bottom: 2%;
}
.aboutUsBox{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
}
.aboutFooter{
  text-align: center;
  height: 20%;
  background-color: var(--collor-dark);
  color: var(--collor-white);
  padding: 2%;
}
@media screen and (max-width:1112px) {
  .containerAbout{
    max-width: 1112px;
  }
  .aboutBox{
    font-size: .9rem;
    padding-bottom: 0;
  }
}
@media screen and (max-width:768px) {
  .containerAbout{
    max-width: 768px;
  }
  .headerAbout{
    justify-content: space-around;
  }
  .about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .aboutProject{
    width: 100%;
  }
  .aboutIlustration{
    margin-top: 10%;
    width: 90%;
  }
  .aboutUsBox{
    display: flex;
    flex-direction: column;
    margin-top: 3%;
  }
  .aboutBox{
    max-width: 35%;
    height: 350px;
    font-size: 1rem;
    margin-top: 3%;
  }
  .aboutBoxIcon{
    margin-bottom: 3%;
  }
} 